/* Сброс стилей */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
  height: 100%;
}
/* Цвета и шрифты */
body {
    color: black;
    text-align: center;
    font-size: 24px;
    line-height: 3;
}
header {
    color:rgb(87, 134, 134);
    background: rgb(241, 185, 234);
    min-height:50px;
    font-size: 22px;
    padding:5px;
    display: flex;
    text-align: left;
    align-items: center;
}
.header__nickname{
    line-height: 1;
    color:rgb(41, 61, 61);
}
.header__status{
    font-size: 15px;
    line-height: 1;
}
main {
    background: url(background-chat.jpg) no-repeat;
    background-size: cover;
    min-width: calc(100% - 200px);
    overflow-y: auto;
    max-height: 100vh;
}

.main::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.main::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.main::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px;
}
.user-list {
    order: 1;
    flex: 0 0 200px;
    height: 85%;
    overflow-y: auto;
}
.user-list::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.user-list::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.user-list::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    border-radius: 10px;
}
.main__message{
    display: flex;
    margin-bottom: 10px;
}
.main__text{
    background:rgba(238, 203, 203, 1);
    border-radius: 15px;
}
footer {
    background: rgb(182, 171, 214);
    min-height: 100px;
    flex: 0 0 auto;
}
.user-list {
    background: rgb(168, 211, 255);
    color:teal;
    overflow-y: auto;
}
.user-list__user{
    display: flex;
    padding: 10px;
}
.user-list__content{
    display: flex;
    flex-flow: column;
    font-size: 18px;
    line-height: 1;
    text-align: left;
}
.footer__form{
    display: flex;
    height: 100%;
    
}
.user-list.open{
    display: block;
    position: absolute;
    top:50px;
    left: 0;
    right: 0;
}
.footer__input{
    flex:1;
    background:rgb(186, 203, 240);
    border:none;
    border-radius: 30px;
}
.footer__input:active, :hover, :focus {
    outline: 0;
    border: none;
    outline-offset: 0;
}
.footer__button{
    background:rgb(230, 180, 225);
    border:none;
    border-radius: 20px;
    min-width: 60px;
    
}
.user-list{
    display: none;
}
/* Мобильное представление */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.burger-button{
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
    background:url(menu_icon.svg) center no-repeat;
    width:28px;
    height:20px;

}
.burger-button.open{
    background:url(menu_icon-close.svg) center no-repeat;
}
/* Настольное представление */
@media all and (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    } 
    header, 
    footer {
        width: 100%;
    }
    .burger-button{
        display: none;
    }
    .header__inner{
        text-align: left;
        padding-left: 200px;
    }
    .main {
        flex: 1 0 auto;
        order: 2;
        max-height: 85%;
    }
    .user-list{
        display: block;
        width:200px;
        order:1;
    }
    footer {
        order: 3;
        flex: 0 0 auto;
        text-align: left;
        padding: 0 10px 0 200px;
    }
    .footer__input{
        padding: 0;
        line-height: 1;
    }
    
}

